<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'banking_app/index.css' %}"
      media="screen"
    />
    <title>Banking app</title>
  </head>

  <body>
    <header>
      <h1>BankAway</h1>
    </header>
    <hr />
    <div class="div-content">
      {% block content %} {% endblock %} {% block footer %} {% endblock %}
    </div>
  </body>
</html>
