{% extends "chat_app/base.html" %} {% block content %}
<h2>Chat with our customer support 24/7</h2>
<p>What do you need help with?</p>
<button value="banking" onclick="handleCategoryClick(this.value)">
  Banking
</button>
<button value="loans" onclick="handleCategoryClick(this.value)">Loans</button>
<button value="accounts" onclick="handleCategoryClick(this.value)">
  Accounts
</button>
<button value="other" onclick="handleCategoryClick(this.value)">Other</button>

<script>
  const handleCategoryClick = (helpCategory) => {
    console.log(helpCategory);
    window.location.pathname = "/help/" + helpCategory + "/";
  };
</script>

{% endblock %}
