{% extends "chat_app/base.html" %} {% block content %}
<h2 class="room-header">{{ room_name }}</h2>
<p>Chat with our specialized customer support.</p>
<div id="chat-log"></div>
<form
  class="div-chatinput"
  method="POST"
  onsubmit="return submitChatMessage(event)"
>
  <input
    id="chat-message-input"
    type="text"
    placeholder="Type your message here..."
  />
  <button id="chat-message-submit" type="submit" value="Send">Send</button>
</form>
{{ room_name|json_script:"room-name" }}

<script>
  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const timestamp = new Date().toLocaleString("en-GB");

    const messageContainer = document.querySelector("#chat-log");
    messageContainer.innerHTML += `<div class="chat-row"><span>{{ user.username }} ${timestamp}</span>${data.message}</div>`;
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();

  async function submitChatMessage(e) {
    e.preventDefault();
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;

    const chatObject = {
      user: "{{ user.id }}",
      message: message,
    };

    const response = await fetch(
      "http://localhost:8000/help/api/chatlog-create",
      {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify(chatObject),
      }
    );
    const chatData = await response.json();
    console.log(chatData);

    chatSocket.send(
      JSON.stringify({
        message: message,
      })
    );
    messageInputDom.value = "";
  }
</script>
{% endblock %}
