{% extends "login_app/base.html" %} {% block content %}
<header>
    <h1>Login</h1>
    <a href="{% url 'login_app:sign_up' %}">Sign Up</a>
    <a href="{% url 'login_app:request_password_reset' %}">Request Password Reset</a>
    <a href="{% url 'login_app:password_reset' %}">Create New Password</a>
</header>
<hr />
<div class="div-content">
    <form action="{% url 'login_app:login' %}" method="POST">
        {% csrf_token %}
        <input type="username" name="username" placeholder="User Name"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button>Login</button>
    </form>
</div>
<hr />

{% if error %}
{{ error }}
{% endif %}

{% endblock %}