{% extends "login_app/base.html" %} {% block content %}
<header>
    <h1>Create New Password</h1>
    <a href="{% url 'login_app:sign_up' %}">Sign Up</a>
    <a href="{% url 'login_app:request_password_reset' %}">Request Password Reset</a>
    <a href="{% url 'login_app:password_reset' %}">Create New Password</a>
</header>
<hr />
<div class="div-content">
    <form action="{% url 'login_app:password_reset' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name">
        <br />
        <input type="password" name="password" placeholder="New Password">
        <br />
        <input type="password" name="confirm_password" placeholder="Repeat New Password">
        <br />
        <input type="text" name="token" placeholder="Token">
        <br />
        <button>Submit</button>
    </form>
</div>

{% if error %}
{{ error }}
{% endif %}

{% endblock %}