{% extends "login_app/base.html" %} {% block content %}

<header>
    <h1>Request Password Reset</h1>
    <a href="{% url 'login_app:sign_up' %}">Sign Up</a>
    <a href="{% url 'login_app:request_password_reset' %}">Request Password Reset</a>
    <a href="{% url 'login_app:password_reset' %}">Create New Password</a>
</header>
<hr />
<div class="div-content">
    <form action="{% url 'login_app:request_password_reset' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name">
        <br />
        <input type="email" name="email" placeholder="Email Address">
        <br />
        <button>Submit</button>
    </form>
    <p>We will send you a secret code on your email.</p>

</div>
<hr />
{% endblock %}