{% extends "banking_app/base.html" %} {% block content %}
<h2>Bank account: {{ account.account_no }}</h2>

<h4>Balance: {{ account.balance }}</h4>

<h4>Transactions:</h4>

{% for transaction in transactions %}
    {% if transaction.from_account.account_no == account.account_no %}
    <div class="transactionRow"><span class="blueText">- {{ transaction.amount }}</span> to 
        {% if transaction.to_account.account_no %}
        account no. {{transaction.to_account.account_no}} ({{transaction.to_account.user.username}}) 
        {% else %}
        loan
        {% endif %} 
        at {{transaction.timestamp|date:'d-m-Y H:i'}}</div>
    {% else %}
    <div class="transactionRow"><span class="blueText">+ {{ transaction.amount }}</span> from account no.
        {{transaction.from_account.account_no}} ({{transaction.from_account.user.username}}) at {{transaction.timestamp|date:'d-m-Y H:i'}}</div>
    {% endif %}
{% endfor %} {% endblock %}
