{% extends "banking_app/base.html" %} {% block content %}
<h2>Loan no.: {{ loan.loan_no }}</h2>

<h4>Total loan: {{ loan.total_loan }}</h4>
<h4>Rest loan: {{ loan.balance }}</h4>

<h4>Payments:</h4>

{% for loanpayment in loanpayments %}
<div class="transactionRow">
  <span class="blueText">{{ loanpayment.amount }}</span> from
  {{loanpayment.from_account.account_no}} at {{loanpayment.timestamp|date:'d-m-Y H:i'}}
</div>
{% endfor %} {% endblock %}
