{% extends "banking_app/base.html" %} {% block content %}
<h2>Loan payment</h2>

<form method="POST">
  {% csrf_token %}
  <label for="amount">Payment amount:</label>
  <input name="amount" type="number" step="0.01" value="0.00" />
  <label for="from_account">From account:</label>
  <select name="from_account">
    {% for userbankaccount in allUserAccounts %}
    <option value="{{ userbankaccount.account_no }}">
      {{ userbankaccount.account_no }} - {{ userbankaccount.user.username }}
    </option>
    {% endfor %}
  </select>
  <label for="to_loan">To your loan:</label>
  <select name="to_loan">
    {% for userloan in allUserLoans %}
    <option value="{{ userloan.loan_no }}">
      {{ userloan.loan_no }} - rest amount: {{ userloan.balance }}
    </option>
    {% endfor %}
  </select>
  <button>Make loan payment</button>
</form>
{% endblock %}
