{% extends "banking_app/base.html" %} {% block content %}
<h2>Profile page</h2>

<div>
  <p><span class="bold">Username:</span> {{user.username}}</p>
  <p><span class="bold">First name:</span> {{user.first_name}}</p>
  <p><span class="bold">Last name:</span> {{user.last_name}}</p>
  <p><span class="bold">Email:</span> {{user.email}}</p>
  <p><span class="bold">Phone no:</span> {{userprofile.phone}}</p>
  <p><span class="bold">Rank:</span> {{userprofile.rank}}</p>
</div>
{% endblock %}
