{% extends "banking_app/base.html" %} {% block content %}
<h2>Transfer</h2>

<form method="POST">
  {% csrf_token %}
  <label for="amount">Transfer amount:</label>
  <input name="amount" type="number" step="0.01" value="0.00" />
  <label for="from_account">From account:</label>
  <select name="from_account">
    {% for userbankaccount in allUserAccounts %}
    <option value="{{ userbankaccount.account_no }}">
      {{ userbankaccount.account_no }} - {{ userbankaccount.user.username }}
    </option>
    {% endfor %}
  </select>
  <label for="to_account">To account:</label>
  <select name="to_account">
    {% for bankaccount in allAccounts %}
    <option value="{{ bankaccount.account_no }}">
      {{ bankaccount.account_no }} - {{ bankaccount.user.username }}
    </option>
    {% endfor %}
  </select>
  <button>Transfer</button>
</form>
{% endblock %}
