@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

header {
  padding: 1em 2em;
}

h1 {
  color: blue;
}

h2 {
  margin-bottom: 1em;
}

article {
  margin: 1em 0 3.5em;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 1.3em;
}

input,
select {
  display: block;
  margin: 1em 0;
  padding: 3px;
  line-height: 1.2em;
  font-family: "Raleway", sans-serif;
}

button {
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 7px;
  cursor: pointer;
}

.expire-session {
  width: 25em;
  margin: 5px 1em 5px auto;
  font-size: 0.9em;
  text-align: right;
}

.div-content {
  padding: 1em 2em;
}

.div-accountRow {
  width: 400px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 0.7fr;
  grid-gap: 2em;
  padding: 1em 0;
  border-bottom: 1px solid blue;
}

.div-loanRow {
  width: 550px;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 0.7fr;
  grid-gap: 2em;
  padding: 1em 0;
  border-bottom: 1px solid blue;
}

.transactionRow {
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
}

.loanInput {
  display: inline-block;
  margin-right: 0.5em;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.blueText {
  color: blue;
  font-weight: bold;
}

.room-header {
  text-transform: capitalize;
}

#chat-log {
  background-color: rgb(228, 229, 235);
  height: 35vh;
  width: 800px;
  padding: 1em;
  overflow: auto;
  border-radius: 5px 5px 0 0;
}

.chat-row {
  background-color: white;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.chat-row > span {
  display: block;
  font-size: 0.8em;
  color: grey;
  margin-bottom: 8px;
}

.div-chatinput {
  width: 800px;
  background-color: rgb(228, 229, 235);
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

#chat-message-input {
  display: inline-block;
  width: 91%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
}

#chat-message-input:focus {
  outline: none;
  border: 2px solid blue;
}

#chat-message-submit {
  width: 8%;
  margin: 0;
  padding: 10px;
  font-size: 1em;
}
